//- assumes data loaded from data/content.json

- var projects = 'Projects'
- var exp = 'Experience'
- var lead = 'Leadership'
- var blockData = content.elements

div#content.col-sm-8
  include ../partials/infocard.jade
  div#content-box
    each block in blockData
      +content-block(block.title, block.category, block.tags, block.description)
