//- assumes data loaded from data/content.json

- var projects = 'Projects'
- var exp = 'Experience'
- var lead = 'Leadership'
//- - blockData = {'One': projects, 'Two': exp, 'Three': lead, 'Four': projects, 'Five': exp, 'Six': lead, 'Seven': projects, 'Eight': exp}
- var blockData = content.elements

div#content-box
  div
  each block in blockData
    +content-block(block.title, block.category)
