//- assumes data loaded from data/content.json

- var projects = 'Projects'
- var exp = 'Experience'
- var lead = 'Leadership'
- var blockData = content.elements

each block in blockData
  +carousel-item(block.title, block.category, block.tags, block.description, block.thumbnail, block.image)
