div#info-card
  div#info-wrapper
    div#info-header
      h2#title
    div#info-close: span(class="glyphicon glyphicon-remove")
    div#info-description
      div#category
      div#tags
      p#description
