div#info-card.col-xs-3
  div#info-wrapper
    div#info-header
      div#info-pic
      h4#title
    div#info-close: span(class="glyphicon glyphicon-remove")
    div#info-description
      div#category
      p#description
