//- <div class="item active">
//- |       <img src="" alt="">
//- |       <div class="carousel-caption">
//- |         One
//- |       </div>
//- </div>

mixin carousel-item(index, blocks)
  - var klass = (index === 0 ? 'item active' : 'item')
  div(class=klass)
    for block, index in blocks
      div.item-block.col-xs-12
        div.item-info.col-sm-6
          h3= block.title
          div!= block.description
        img.item-img.col-sm-6(src="#{block.image}")
