extends ../layouts/default

include ../mixins/mixins

block title
  title Static Website

block body
  div#particles-js
  div#header
    a#resume(href="Clarence Mah - Resume.pdf") Resume
  div.container
    div#profile.col-sm-4
      img#pic(src="img/face.jpg", alt="")
      div#about
        h1#name Hello, I'm Clarence Mah.
        div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quia, porro veniam assumenda explicabo. Amet deleniti rem eos est quasi dolore sit, quisquam ut odit fugiat, repudiandae eius porro consequuntur.
        br
        div Take a look at my#[div.category experience] #[div.category leadership]and  #[div.category projects]
    include ../partials/content.jade
