extends ../layouts/default

include ../mixins/mixins

block title
  title Static Website

block body
  div#particles-js
  div#header
    a#email.icon(href="mailto:clarence.k.mah@gmail.com"): img(src="img/email-logo.png", alt="")
    a#linkedin.icon(href="http://linkedin.com/in/clarencemah" target="_blank"): img(src="img/linkedin-logo.png", alt="")
    a#github.icon(href="http://github.com/ckmah" target="_blank"): img(src="img/github-logo.png", alt="")
    a#resume(href="resume.pdf" target="_blank") Resume
  div.container
    div#profile.col-sm-4
      img#pic(src="img/face.jpg", alt="")
      div#about
        h1#name Clarence Mah
        div An aspiring bioinformatician enthusiastic about DIY projects and self-directed learning. Also an avid techie and casual musician.
        br
        div Here are some #[div.category projects] #[div.category experience]and  #[div.category leadership]I am passionate about.
    include ../partials/content.jade
