extends ../layouts/default

include ../mixins/mixins

block title
  title Static Website

block body
  div#particles-js
  div#header
    a(href="Clarence Mah - Resume.pdf") Resume
    |	| 
    a(href="#contact") Contact
  div.container
    div#profile.col-sm-4
      img#pic.img-responsive(src="img/face.jpg", alt="")
      div#about
        h1#name Hello, I'm Clarence Mah.
        p I am an aspiring bioinformatician, who loves to tag1, tag2, and tag3. Take a look at my #[div.category experience] #[div.category leadership] and #[div.category projects]
    include ../partials/content.jade
