extends ../layouts/default

include ../mixins/mixins

block title
  title Static Website

block body
  div#header
    a(href="Clarence Mah - Resume.pdf") Resume
    |	| 
    a(href="#contact") Contact
  div.container
    div#profile.col-sm-4
      img#pic.img-responsive(src="img/face.jpg", alt="")
      div#about
        h1#name Hello, I'm Clarence Mah.
        p I am an aspiring bioinformatician, who loves to tag1, tag2, and tag3. Take a look at my EXPERIENCE, LEADERSHIP, AND PROJECTS.
    div#content.col-sm-8
      div#content-box
        +content-block('one')
        +content-block('two')
        +content-block('three')
        +content-block('four')
        +content-block('five')
        +content-block('six')
        +content-block('seven')
        +content-block('eight')
