// @import "pesticide";
/* ==========================================================================
   Color styles
   ========================================================================== */
@primary-color: #A9BCD0;
@secondary-color: #373F51;
@tertiary-color: #1B1B1E;
@primary-white: #D8DBE2;
@accent-color: #58A4B0;
@heading-light: @primary-white;
@heading-dark: @secondary-color;
@text-light: @primary-white;
@text-dark: #1B1B1E;
/* ==========================================================================
   Base styles
   ========================================================================== */
body,
html {
  padding: 0;
  position: relative;
  background: @body-bg;
}

.container {
  .no-padding;
  position: relative;
}

.right {
  float: right;
}

.left {
  float: left;
}

.top {
  z-index: 200;
}

.middle {
  z-index: 100;
}

.bottom {
  z-index: 1;
}
/* ==========================================================================
   Font styling
   ========================================================================== */
@font-face {
  font-family: 'Heading';
  src: url('../fonts/Quicksand regular.ttf');
}
@font-face {
  font-family: 'SubHeading';
  src: url('../fonts/Quicksand regular.ttf');
}
@font-face {
  font-family: 'Monospace';
  src: url('../fonts/Roboto Mono regular.ttf');
}
@font-face {
  font-family: 'Text';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.symbol,
a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}
@golden-ratio: 1.61803399;
@h1-size: 74px;
@h1-size-small: 56px;
@h2-size: 40px;
@h3-size: 27px; // 27.5833
@h4-size: 16px;
@h5-size: 12px;
@p-size: 16px;

* {
  font-family: 'Text', Arial, "Lucida Grande", sans-serif;
  line-height: @golden-ratio;
  font-size: @p-size;
  color: @text-dark;
}

a {
  text-decoration: none !important;
  color: #add8e6;
}

p {
  font-size: @p-size;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Heading', Arial, "Lucida Grande", sans-serif;
  color: @heading-light;
  padding: 0.3em 0;
  margin: 0;
  line-height: 1.3;
  // text-transform: uppercase;
}

h1 {
  font-size: @h1-size-small;
  // letter-spacing: -0.05em;
  // .raised-text;
  @media only screen and (min-width: @screen-md-min) {
    font-size: @h1-size;
  }
}

h2 {
  font-size: @h2-size;
  // .raised-text;
  text-align: center;
  padding-bottom: 0.8em;
  letter-spacing: -2px;
  font-weight: 600;
}

h3 {
  font-family: 'SubHeading';
  font-size: @h3-size;
  padding: 0;
  line-height: normal;
  margin-right: 0.1em;
  letter-spacing: -1px;
  font-weight: 600;
}

h4 {
  font-size: @h4-size;
  letter-spacing: -1px;
}

h5 {
  font-size: @h5-size;
}
/* ==========================================================================
   Less Mixins
   ========================================================================== */
.v-align {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-padding {
  padding: 0;
}

.row {
  margin: 0;
}

.card {
  border-radius: 3px;
  filter: drop-shadow(0 1px 1px rgba(0,0,0,0.22));
  transition: all 0.2s ease;
}

.raised-text {
  text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}

.card-z1 {
  .card;

  &:hover {
    filter: drop-shadow(0 5px 5px rgba(30,10,0,0.4));
  }
}
/* ==========================================================================
   Element styles
   ========================================================================== */
@body-bg: @primary-white;
@home-bg: @secondary-color;
@about-bg: @secondary-color;
@work-bg: @primary-color;
@contact-bg: @secondary-color;

.section {
  padding: 3em 0;
}

#github:hover img {
  background: #222;
}

#linkedin:hover img {
  background: #0077B5;
}

#email:hover img {
  // background: #c92c19;
}
/* ==========================================================================
   Navigation
   ========================================================================== */
#nav-toggle {
  @media only screen and (min-width: (@screen-sm-min + 1)) {
    display: none;
  }
  .card-z1;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  color: @accent-color;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  border-radius: 10em;
  background: white;
}
// For wider screens
@media only screen and (min-width: @screen-sm-min) {
  #nav {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding-right: 1em;
    justify-content: flex-end;
    transition: background-color 0.05s linear;

    li {
      a {
        &:hover {
          background-color: transparent;

          h3 {
            color: @accent-color;
          }
        }

        &:focus {
          background-color: transparent;
        }
      }

      h3 {
        color: @primary-white;
        transition: color 0.1s linear;
      }

      &.active {
        a {
          background-color: transparent;
        }

        h3 {
          color: @accent-color;
        }
      }
    }
  }

  &.home {
    background-color: @home-bg;
  }

  &.about {
    background-color: @about-bg;
  }

  &.work {
    background-color: @work-bg;
  }

  &.contact {
    background-color: @contact-bg;
  }
}
// For mobile width screens
@media only screen and (max-width: @screen-sm-min) {
  #nav.show-nav {
    z-index: 100;
    opacity: 1;

    li {
      opacity: 1;
      transform: translate(0, 0) translate3d(0, 0, 0) scale(1);
    }
  }

  #nav.hide-nav {
    z-index: 100;
    opacity: 0;
  }

  #nav {
    z-index: -1;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    background: @tertiary-color;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    li {
      opacity: 0;
      transform: translate(0, -10px) translate3d(0, -10px, 0) scale(1.2);
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: @secondary-color;

        h3 {
          color: @accent-color;
        }
      }

      &:active {
        background-color: @primary-color;
      }

      a {
        text-align: center;
        padding: 3em;

        &:focus,
        &:hover {
          background-color: transparent;
        }
      }

      h3 {
        color: @primary-white;
        transition: color 0.1s linear;
      }

      &.active {
        a {
          background-color: transparent;
        }

        h3 {
          color: @accent-color;
        }
      }
    }
    .generate-nav-items(4);

    .generate-nav-items(@n, @i:1) when (@i =< @n) {
      li:nth-child(@{i}) {
        transition-delay: ((4 - @i) * 0.05s);
      }
      .generate-nav-items(@n, (@i + 1));
    }
  }
}
/* ==========================================================================
   Home section styles
   ========================================================================== */
@page-min-height: 600px;
@page-height: 100vh;
@learn-more-b-margin: 2em;

#home {
  .bottom;
  position: relative;
  text-align: center;
  height: @page-height;
  min-height: @page-min-height;
  background-color: @home-bg;
  overflow: hidden;
  .flex-center-all;

  #home-row {
    width: 100%;
    text-align: center;
  }

  #learn-more {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: @learn-more-b-margin;
    text-align: center;

    a {
      .card-z1;
      display: inline-block;
      height: 2em;
      width: 2em;
      font-size: 24px;
      color: @accent-color;
      background-color: white;
      line-height: 1.7em;
      border-radius: 10em;

      &:hover {
        color: white;
        background-color: @accent-color;
      }
    }
  }
}

#logo-box {
  text-align: center;
}

#logo {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  overflow: hidden;
}

#home-text {
  display: flex;
  flex-direction: column;

  #tagline {
    color: @primary-color;
    font-family: 'Monospace';
  }
}
/* ==========================================================================
   Animations (enabled for md+ screens)
   ========================================================================== */
/* Animation Outline
   icon - appear, slide left
   name - appear
   tagline - type
 */
@media only screen and (min-width: @screen-md-min) {
   @fade-time: 1s;
  @slide-time: 1s;
  @type-time: 3s;
  @ui-fade-time: 0.5s;
  @slide-delay: @fade-time - 0.2s;
  @name-delay: @slide-delay + @slide-time;
  @type-delay: @name-delay + @fade-time - 0.2s;
  @caret-delay: @type-delay + @type-time;

  #home-row {
    .flex-center-all;
    align-content: space-around;
  }

  #title {
    white-space: nowrap;
    align-self: center;
    padding-bottom: 0.2em;
    margin: 0;
  }

  #logo-box {
    display: inline-block;
    margin-left: 500px;
    animation: fadeFallLearnMore @fade-time ease-in-out, slideLeft @slide-time ease-in-out @slide-delay;
    animation-fill-mode: forwards;
  }

  #home-text {
    opacity: 0;
    padding: 0 4em;
    animation: fadeIn @fade-time ease @name-delay;
    animation-fill-mode: forwards;
  }

  #tagline {
    .type-content(60);
    align-self: flex-start;
  }

  #learn-more {
    opacity: 0;
    animation: fadeFallLearnMore @ui-fade-time ease-out @caret-delay;
    animation-fill-mode: forwards;
  }

  #collapse-div {
    opacity: 0;
    animation: fadeFallNav @ui-fade-time ease-out @caret-delay;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn {
    from {
      display: none;
      opacity: 0;
    }

    to {
      display: inline-block;
      opacity: 1;
    }
  }
  @keyframes fadeFallLearnMore {
    from {
      display: none;
      opacity: 0;
      margin-bottom: @learn-more-b-margin - .2em;
      transform: scale(1.5);
    }

    to {
      display: inline-block;
      opacity: 1;
      margin-bottom: @learn-more-b-margin;
      transform: scale(1);
    }
  }
  @keyframes fadeFallNav {
    from {
      opacity: 0;
      margin-top: -.5em;
      transform: scale(1.1);
    }

    to {
      opacity: 1;
      margin-top: 0;
      transform: scale(1);
    }
  }
  @keyframes fadeInGrow {
    from {
      display: none;
      opacity: 0;
      transform: scale(0.5);
    }

    to {
      display: inline-block;
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes slideLeft {
    from {
      margin-left: 500px;
    }

    to {
      margin-left: 0;
    }
  }

  .type-content(@numCh) {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: @text-light 0.1em solid;
    animation: type @type-time steps(@numCh) @type-delay, blink-caret 1s linear infinite @caret-delay;
    animation-fill-mode: forwards;
    @keyframes type {
      from {
        width: 0;
      }

      to {
        width: @numCh*1ch;
      }
    }
    @keyframes blink-caret {
      17% {
        border-color: @text-light;
      }

      33%,
      67% {
        border-color: transparent;
      }

      83% {
        border-color: @text-light;
      }
    }
  }
}
/* ==========================================================================
   About section styles
   ========================================================================== */
@about-side-space: 3.5em;
@overlap-margin: 10em;

#about {
  .bottom;
  background-color: @home-bg;

  .container {
    padding: 1.5em;
    .card-z1;
    background: white;
    margin-bottom: -@overlap-margin;

    h2 {
      color: @heading-dark;
    }
  }
}

#about-text {
  margin: 0;
  line-height: 1.7em;
}

#interests {
  padding: 1em 0;

  h2 {
    color: @heading-dark;
  }
}

#interest-list {
  margin-top: 1em;
  margin-left: 0.5em;
}

#interest-list .tag {
  display: inline-block;
  text-align: center;
  // padding: 0.4em 1em;
  // margin: 0 0.5em;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    background: @accent-color;
  }
  @img-dim: 120px;

  img {
    height: @img-dim;
    width: @img-dim;
    border-radius: @img-dim;
    margin-bottom: 1em;
  }
}
/* ==========================================================================
   Content styles
   ========================================================================== */
#work-before {
  display: block;
  padding-top: @overlap-margin;
  background: @work-bg;
}

#work {
  background-color: @work-bg;
}

#work-content {
  .bottom;
  @media (min-width: @screen-md-min) {
    column-count: 2;
    column-gap: 0;
  }
}

.item-block {
  padding: 0.5em;
  @media (min-width: @screen-sm-min) {
    display: block;
    break-inside: avoid;
  }
}

.item-info {
  background: white;
  height: auto;
  position: relative;
  white-space: normal;
  padding: 1.0em;
  .card-z1;

  h3 {
    color: @heading-dark;
    padding-bottom: 0.5em;
  }
}

#tags {
  margin: 0.5em 0;
}

.tag {
  font-family: 'Monospace';
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 0.5em;
  padding: 0.4em 1em;
  text-transform: uppercase;
  background-color: @secondary-color;
  border-radius: 2px;
  color: white !important;
  font-size: 13px;
  letter-spacing: 0.5px;
}
/* ==========================================================================
   Contact section styles
   ========================================================================== */
#contact {
  padding: 3em 2em;
  .flex-center-all;
  flex-direction: column;
  background-color: @contact-bg;
}

#contact-text {
  margin: 2em;
  color: white;
}

#email-button {
  border: 5px solid white;
  text-align: center;
  padding: 0.5em 1em;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    // border: 5px solid saturate(@accent-color, 10%);
    // color: saturate(@accent-color, 10%);
    transform: scale(1.1) translateY(-.1em);
  }

  &:active {
    transform: scale(1.1) translateY(.1em);
  }
}

#links {
  margin-top: 3em;
  margin-bottom: 3em;
  .flex-center-all;

  a {
    margin: 0 10px;
    overflow: hidden;
    transition: all 0.1s;

    &:hover {
        transform: scale(1.2);
    }
  }

  span {
    color: white;
    font-size: 50px;
    transition: all 0.1s ease-out;
  }
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
