// @import "pesticide";
/* ==========================================================================
   Color styles
   ========================================================================== */
@primary-color: #EEE;
@secondary-color: #8fabb5;
@tertiary-color: #326f89;
@quaternary-color: #154456;
@accent-color: #fff25c;
/* ==========================================================================
   Base styles
   ========================================================================== */
html,
body {
  background-color: @quaternary-color;
  background: linear-gradient(30deg, #E0E0E0, #E0E0E0);
  padding: 0;
  position: relative;
}
.container {
  .no-padding;
  position: relative;
}
.top {
  z-index: 200;
}
.middle {
  z-index: 100;
}
.bottom {
  z-index: 1;
}
/* ==========================================================================
   Font styling
   ========================================================================== */
@font-face {
  font-family: 'deja-vu-sans-mono';
  src: url('../fonts/DejaVuSans-Mono.ttf');
}
@font-face {
  font-family: 'titillium';
  src: url('../fonts/Titillium-Regular.otf');
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'monospace';
  src: url('../fonts/Consolas.ttf');
}
@golden-ratio: 1.61803399;
* {
  font-family: 'titillium', Arial, "Lucida Grande", sans-serif;
  line-height: @golden-ratio;
  // -webkit-font-smoothing: antialiased !important;
  font-size: 16px;
  // color: white;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'raleway', Arial, "Lucida Grande", sans-serif;
  padding: 0.3em 0;
  margin: 0;
  line-height: 1.3;
  text-transform: uppercase;
  // -webkit-text-stroke: 0.1px;
  // font-weight: 400;
}
h1 {
  font-size: 56px;
  .raised-text;
  @media only screen and (min-width: @screen-md-min) {
    font-size: 74px;
  }
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 12px;
}
/* ==========================================================================
   Less Mixins
   ========================================================================== */
.v-align {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-padding {
  padding: 0 !important;
}
.row {
  margin: 0;
}
.card {
  overflow: hidden;
  border-radius: 3px;
}
.raised-text {
  text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.raised-box {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.22), 1px 1px 2px rgba(0,0,0,0.34);
}
.card-z1 {
  .card;
  box-shadow: 0 1px 3px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.34);
}
.card-z2 {
  .card;
  box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.33) !important;
}
.card-z3 {
  .card;
  box-shadow: 0 10px 20px rgba(0,0,0,0.29), 0 6px 6px rgba(0,0,0,0.33) !important;
}
.card-z4 {
  .card;
  box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.32) !important;
}
.card-z5 {
  .card;
  box-shadow: 0 19px 38px rgba(0,0,0,0.4), 0 15px 12px rgba(0,0,0,0.32) !important;
}
.card-raised {
  .card-z1;
  transition: all 0.1s ease-in-out;
  &:active {
    .card-z2;
  }
}
.button-raised {
  .card-raised;
  padding: 6px 12px;
  background: @tertiary-color;
  color: white;
  border-radius: 2px;
  margin-right: 8px;
  font-family: 'monospace';
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: lighten(@accent-color, 10%);
    color: @quaternary-color;
  }
  &:active {
    transform: scale(0.95);
  }
}
/* ==========================================================================
   Element styles
   ========================================================================== */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter:blur(1px) contrast(10) saturate(0.8);
}
#navbar {
  .middle;
  background: transparent;
  border: none;
}
#nav {
  .flex-center-all;
  @media only screen and (min-width: @screen-sm-min) {
    float: right;
  }
  li {
    display: inline-block;
    background: white;
    @media only screen and (min-width: @screen-sm-min) {
      background: transparent;
    }
  }
  .active a {
    background: transparent;
    font-weight: 600;
  }
}
#resume {
  .button-raised;
  margin-left: 0.5em;
}
.icon {
  display: inline;
}
.icon img {
  height: 2em;
  width: 2em;
  .card;
  filter:drop-shadow(0 1px 3px rgba(0,0,0,0.7));
  background: rgba(0,0,0,0);
  padding: 0.4em;
  margin: 0.5em;
  transition: background 0.2s ease-in-out;
}
#github:hover img {
  background: #222;
}
#linkedin:hover img {
  background: #0077B5;
}
#email:hover img {
  background: #c92c19;
}
/* ==========================================================================
   Home section styles
   ========================================================================== */
@page-min-height: 500px;
@page-height: 100vh;
#home {
  .bottom;
  height: @page-height;
  min-height: @page-min-height;
  .flex-center-all;
  #home-row {
    width: 100%;
    text-align: center;
  }
}
#logo-box {
  text-align: center;
}
#logo {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  overflow: hidden;
}
#name {
  padding-bottom: 0.2em;
}
#home-text {
  display: inline-block;
  #tagline {
    display: inline-block;
    padding-left: 0.2em;
    font-family: 'deja-vu-sans-mono';
    color: black;
  }
}
/* ==========================================================================
   Animations (enabled for md+ screens)
   ========================================================================== */
/* animation outline
   icon - appear, slide left
   text - appear,
 */
@media only screen and (min-width: @screen-md-min) {
  @fade-time: 0.8s;
  @slide-time: 0.5s;
  @type-time: 3s;
  @slide-delay: @fade-time - 0.2s;
  @name-delay: @slide-delay + @slide-time;
  @type-delay: @name-delay + @fade-time - 0.2s;
  @caret-delay: @type-delay + @type-time;
  #home-row {
    .flex-center-all;
    align-content: space-around;
  }
  #name {
    white-space: nowrap;
  }
  #logo-box {
    display: inline-block;
    margin-left: 500px;
    animation: fadeIn @fade-time ease-in-out, slideLeft @slide-time ease-in-out @slide-delay;
    animation-fill-mode: forwards;
  }
  #home-text {
    opacity: 0;
    padding: 0 4em;
    animation: fadeIn @fade-time ease @name-delay;
    animation-fill-mode: forwards;
  }
  #tagline {
    .type-content(60);
  }
  @keyframes fadeIn {
    from {
      display: none;
      opacity: 0;
    }
    to {
      display: inline-block;
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    from {
      margin-left: 500px;
    }
    to {
      margin-left: 0;
    }
  }
  .type-content(@numCh) {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: black 0.1em solid;
    animation: type @type-time steps(@numCh) @type-delay, blink-caret 1s linear infinite @caret-delay;
    animation-fill-mode: forwards;
    @keyframes type {
      from {
        width: 0;
      }
      to {
        width: @numCh*1ch;
      }
    }
    @keyframes blink-caret {
      17% {
        border-color: black;
      }
      33%,
      67% {
        border-color: transparent;
      }
      83% {
        border-color: black;
      }
    }
  }
}
/* ==========================================================================
   About section styles
   ========================================================================== */
#about {
  .bottom;
  padding: 6em 4em;
}
/* ==========================================================================
   Content styles
   ========================================================================== */
#work {
  .bottom;
  min-height: @page-min-height;
  height: @page-height;
}
#work-carousel {
  width: 100%;
  height: 100vh;
}
#carousel-inner {
  color: black;
  height: 100%;
  .item {
    padding: 6em 3em 3em;
    height: 100%;
    overflow-y: auto;
  }
  .item-block {
    margin: 4em 0;
  }
  @padding-outer: 10%;
  @padding-inner: 5%;
  .item-info {
    @media (min-width: @screen-md-min) {
      padding-left: @padding-outer;
      padding-right: @padding-inner;
    }
    h3 {
      padding-bottom: 0.8em;
    }
  }
  .item-img {
    @media (min-width: @screen-md-min) {
      padding-right: @padding-outer;
      padding-left: @padding-inner;
    }
  }
}
#carousel-control-left,
#carousel-control-right {
  position: absolute;
  width: 50px;
  height: 100px;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 1;
}
#carousel-control-right {
  left: auto;
  right: 0;
}
#carousel-indicators {
  .top;
  top: 0;
  bottom: auto;
  width: 100%;
  margin: 0;
  left: 0;
  .flex-center-all;
  align-content: space-around;
  background: black;
  .active {
    background: white;
    color: black;
    font-weight: 600;
  }
  li {
    font-family: 'raleway';
    text-indent: 0;
    width: auto;
    height: auto;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    padding: 0.7em 1.5em;
    transform: skew(-20deg);
    color: white;
    & > div {
      width: 100%;
      height: 100%;
      transform: skew(20deg);
    }
  }
  @media only screen and (min-width: @screen-md-min) {
    li > div {
      font-size: 22px;
    }
  }
}
@block-dim: 150px;
@block-margin: 8px;
@box-width: 100%;
#content-box {
  .flex-center-all;
  width: @box-width;
  flex-wrap: wrap;
}
.content-block-hover {
  .card-z2;
  transform: scale(1.05);
}
.content-block {
  .card-z1;
  cursor: pointer;
  position: relative;
  height: @block-dim;
  width: @block-dim;
  min-height: @block-dim;
  margin: @block-margin;
  background: #DDD;
  background-size: auto @block-dim;
  transition: all 0.1s ease-in-out;
  &:hover {
    .content-block-hover;
  }
  &:hover .block-overlay {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  &:hover .block-bg {
    filter:blur(1px);
  }
  &:active {
    transform: scale(.95);
  }
}
.block-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
}
.block-overlay {
  z-index: 2;
  .flex-center-all;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.5em 1em;
  position: absolute;
  background: rgba(0,0,0,0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 300ms;
  #title {
    text-transform: capitalize;
  }
  #category {
    text-transform: uppercase;
  }
}
/* ==========================================================================
   Contact section styles
   ========================================================================== */
#contact {
  padding: 6em 2em;
  .flex-center-all;
  flex-direction: column;
}
#contact-text {
  margin: 2em;
}
#email-button {
  border: 5px solid red;
  text-align: center;
  padding: 0.5em 1em;
  vertical-align: middle;
  color: red;
  text-transform: uppercase;
  transition: transform 0.1s;
  &:hover {
    transform: scale(1.05) translateY(-.1em);
  }
  &:active {
    transform: scale(1.05) translateY(.1em);
  }
}
#links {
  padding: 4em;
  .flex-center-all;
  a {
    margin: 0.5em;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #DDD;
    transition: background 0.1s;
    &:hover {
      background: black;
    }
  }
  img {
    height: 50px;
    width: 50px;
    padding: 0.8em;
  }
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
