// @import "pesticide";
/* ==========================================================================
   Color styles
   ========================================================================== */
@primary-color: @red-500;
@secondary-color: white;
@blue-grey-900: #263238;
@blue-grey-700: #455a64;
@blue-grey-500: #607D8B;
@blue-grey-300: #90A4AE;
@red-500: #d32f2f;
@red-900: #b71c1c;
@grey-100: #FAFAFA;
@grey-200: #EEEEEE;
@grey-300: #E0E0E0;
@grey-500: #9E9E9E;
@grey-700: #616161;
@grey-800: #424242;
@grey-900: #212121;
@text-dark: lighten(black, 15%);
@text-light: @grey-100;
/* ==========================================================================
   Base styles
   ========================================================================== */
body,
html {
  padding: 0;
  position: relative;
}
.container {
  .no-padding;
  position: relative;
}
.right {
  float: right;
}
.left {
  float: left;
}
.top {
  z-index: 200;
}
.middle {
  z-index: 100;
}
.bottom {
  z-index: 1;
}
/* ==========================================================================
   Font styling
   ========================================================================== */
@font-face {
  font-family: 'Heading';
  src: url('../fonts/Lato 900.ttf');
}
@font-face {
  font-family: 'Monospace';
  src: url('../fonts/Roboto Mono regular.ttf');
}
@font-face {
  font-family: 'Text';
  src: url('../fonts/Lato regular.ttf');
}
@golden-ratio: 1.61803399;
@h1-size: 74px;
@h1-size-small: 56px;
@h2-size: 40px;
@h3-size: 27px; // 27.5833
@h4-size: 16px;
@h5-size: 12px;
@p-size: 16px;
* {
  font-family: 'Text', Arial, "Lucida Grande", sans-serif;
  line-height: @golden-ratio;
  font-size: @p-size;
  color: @text-dark;
}
a {
  text-decoration: none !important;
  color: #add8e6;
}
p {
  font-size: @p-size;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Heading', Arial, "Lucida Grande", sans-serif;
  padding: 0.3em 0;
  margin: 0;
  line-height: 1.3;
}
h1 {
  font-size: @h1-size-small;
  // letter-spacing: -0.05em;
  .raised-text;
  @media only screen and (min-width: @screen-md-min) {
    font-size: @h1-size;
  }
}
h2 {
  font-size: @h2-size;
  .raised-text;
  text-align: center;
  // margin: 0 0 1em;
}
h3 {
  font-family: 'Text';
  font-size: @h3-size;
  padding: 0;
  line-height: normal;
  margin-right: 0.1em;
}
h4 {
  font-size: @h4-size;
}
h5 {
  font-size: @h5-size;
}
/* ==========================================================================
   Less Mixins
   ========================================================================== */
.v-align {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-padding {
  padding: 0;
}
.row {
  margin: 0;
}
.card {
  overflow: hidden;
  border-radius: 3px;
}
.raised-text {
  // text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.raised-box {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.22), 1px 1px 2px rgba(0,0,0,0.34);
}
.card-z1 {
  .card;
  box-shadow: 0 1px 3px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.34);
}
.card-z2 {
  .card;
  box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.33) !important;
}
.card-z3 {
  .card;
  box-shadow: 0 10px 20px rgba(0,0,0,0.29), 0 6px 6px rgba(0,0,0,0.33) !important;
}
.card-z4 {
  .card;
  box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.32) !important;
}
.card-z5 {
  .card;
  box-shadow: 0 19px 38px rgba(0,0,0,0.4), 0 15px 12px rgba(0,0,0,0.32) !important;
}
/* ==========================================================================
   Element styles
   ========================================================================== */
@home-bg: @grey-100;
@about-bg: @grey-100;
@work-bg: @grey-100;
@contact-bg: desaturate(@red-900, 10%);
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter:blur(1px) contrast(10) saturate(0.8);
}
// TODO: check mobile dropdown menu positioning
#navbar {
  .middle;
  background-color: transparent;
  border: none;
  width: 100%;
  top: 0;
  transition: all 0.3s ease;
  a {
    color: @text-dark;
  }
}
#collapse-div {
  @media only screen and (min-width: @screen-sm-min) {
    .flex-center-all !important;
    padding: 0.5em 0;
  }
}
.scrolled-nav {
  background-color: @home-bg !important;
  border-bottom: @grey-300 solid 1px;
}
#nav {
  @media only screen and (min-width: @screen-sm-min) {
    align-self: center;
  }
  li {
    display: inline-block;
    a {
      background: transparent;
    }
    h3 {
      color: @grey-500;
      transition: all 0.3s ease;
      &:hover {
        color: @text-dark;
      }
    }
  }
  .active a h3 {
    color: @text-dark;
  }
}
.section {
  padding: 3em 0;
}
#github:hover img {
  background: #222;
}
#linkedin:hover img {
  background: #0077B5;
}
#email:hover img {
  background: #c92c19;
}
/* ==========================================================================
   Home section styles
   ========================================================================== */
@page-min-height: 500px;
@page-height: 100vh;
#home {
  .bottom;
  position: relative;
  text-align: center;
  height: @page-height;
  min-height: @page-min-height;
  background-color: @grey-100;
  overflow: hidden;
  .flex-center-all;
  #home-row {
    width: 100%;
    text-align: center;
  }
  #learn-more {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 2em;
    text-align: center;
    a {
      display: inline-block;
      height: 2em;
      width: 2em;
      font-size: 24px;
      color: @red-500;
      background-color: white;
      border-radius: 10em;
      line-height: 1.7em;
      transition: all 0.2s;
      &:hover {
        color: white;
        background-color: @red-500;
      }
    }
  }
}
#logo-box {
  text-align: center;
}
#logo {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  overflow: hidden;
}
#home-text {
  display: flex;
  flex-direction: column;
  #tagline {
    font-family: 'Monospace';
  }
}
/* ==========================================================================
   Animations (enabled for md+ screens)
   ========================================================================== */
/* Animation Outline
   icon - appear, slide left
   name - appear
   tagline - type
 */
@media only screen and (min-width: @screen-md-min) {
   @fade-time: 1s;
  @slide-time: 0.5s;
  @type-time: 3s;
  @slide-delay: @fade-time - 0.2s;
  @name-delay: @slide-delay + @slide-time;
  @type-delay: @name-delay + @fade-time - 0.2s;
  @caret-delay: @type-delay + @type-time;
  #home-row {
    .flex-center-all;
    align-content: space-around;
  }
  #name {
    white-space: nowrap;
    align-self: center;
    padding-bottom: 0.2em;
    margin: 0 0.65em;
  }
  #logo-box {
    display: inline-block;
    margin-left: 500px;
    animation: fadeInGrow @fade-time ease-in-out, slideLeft @slide-time ease-in-out @slide-delay;
    animation-fill-mode: forwards;
  }
  #home-text {
    opacity: 0;
    padding: 0 4em;
    animation: fadeIn @fade-time ease @name-delay;
    animation-fill-mode: forwards;
  }
  #tagline {
    .type-content(60);
    align-self: flex-start;
  }
  #learn-more {
    opacity: 0;
    animation: fadeIn @fade-time ease @caret-delay;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn {
    from {
      display: none;
      opacity: 0;
    }
    to {
      display: inline-block;
      opacity: 1;
    }
  }
  @keyframes fadeInGrow {
    from {
      display: none;
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      display: inline-block;
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes slideLeft {
    from {
      margin-left: 500px;
    }
    to {
      margin-left: 0;
    }
  }
  .type-content(@numCh) {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: @text-dark 0.1em solid;
    animation: type @type-time steps(@numCh) @type-delay, blink-caret 1s linear infinite @caret-delay;
    animation-fill-mode: forwards;
    @keyframes type {
      from {
        width: 0;
      }
      to {
        width: @numCh*1ch;
      }
    }
    @keyframes blink-caret {
      17% {
        border-color: @text-dark;
      }
      33%,
      67% {
        border-color: transparent;
      }
      83% {
        border-color: @text-dark;
      }
    }
  }
}
/* ==========================================================================
   About section styles
   ========================================================================== */
@about-side-space: 3.5em;
@edu-line-height: @p-size*@golden-ratio;
#about {
  .bottom;
  background-color: @about-bg;
  .container {
    padding: 1.5em;
    background: @grey-300;
  }
  // * {
  //   color: white;
  // }
}
#about-text {
  margin: 0;
  line-height: 1.7em;
}
#interests {
  padding: 1em 0;
}
#interest-list {
  margin-top: 1em;
  // text-align: center;
}
.interest {
  display: inline-block;
  text-align: center;
  padding: 0.4em 1em;
  margin: 0 0.5em;
  border-radius: 2px;
  background: @grey-300;
  transition: all 0.1s ease;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: @grey-500;
  }
  @img-dim: 120px;
  img {
    height: @img-dim;
    width: @img-dim;
    border-radius: @img-dim;
    margin-bottom: 1em;
  }
}
#edu-content {
  padding: 1em 5em 0;
  // position: relative;
  p {
    display: inline-block;
    line-height: @edu-line-height;
    margin-bottom: 0;
    a {
      font-size: @p-size;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}
#edu-seal {
  font-size: @p-size;
  position: absolute;
  margin-left: -(@about-side-space + 1em);
  height: @edu-line-height*2;
  width: @edu-line-height*2;
  img {
    height: 100%;
    width: 100%;
  }
}
/* ==========================================================================
   Content styles
   ========================================================================== */
#work {
  background-color: @work-bg;
  * {
    color: lighten(black, 15%);
  }
}
#work-content {
  .bottom;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.item-block {
  padding: 0.5em;
  display: inline-flex;
  flex-direction: column;
  filter:drop-shadow(0 1px 1px rgba(0,0,0,0.22));
  @media (max-width: @screen-sm-min) {
    width: 100%;
  }
}
.item-info {
  background: white;
  height: auto;
  position: relative;
  white-space: normal;
  padding: 1.0em;
  h3 {
    display: inline-block;
    padding-bottom: 0.5em;
  }
  .item-text {
    display: inline-block;
  }
}
#tags {
  margin: 0.5em 0;
}
.tag {
  font-family: 'Monospace';
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.4em 1em;
  text-transform: uppercase;
  background-color: @grey-500;
  border-radius: 2px;
  color: white !important;
  font-size: 13px;
}
@item-img-height: 300px;
.item-img-container {
  position: relative;
  height: @item-img-height;
  background: @blue-grey-700;
  text-align: center;
  overflow: hidden;
  .item-img {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}
@see-more-neutral: white;
@see-more-accent: @grey-700;
@see-more-active: @grey-900;
@see-more-hover: @grey-500;
.see-more {
  // position: absolute;
  // display: inline-block;
  float: right;
  margin: 0.5em;
  padding: 0.5em 0.7em;
  right: 0;
  bottom: 0;
  text-align: center;
  background: @see-more-accent;
  // border: 1px solid @see-more-accent;
  border-radius: 2px;
  color: @see-more-neutral !important;
  transition: all 0.2s;
  &:hover {
    background: @see-more-hover;
  }
  &:active {
    background: @see-more-active;
  }
}
/* ==========================================================================
   Contact section styles
   ========================================================================== */
#contact {
  padding: 3em 2em;
  .flex-center-all;
  flex-direction: column;
  background-color: @contact-bg;
}
#contact-text {
  margin: 2em;
  color: white;
}
#email-button {
  border: 5px solid white;
  text-align: center;
  padding: 0.5em 1em;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  transition: transform 0.1s;
  &:hover {
    transform: scale(1.05) translateY(-.1em);
  }
  &:active {
    transform: scale(1.05) translateY(.1em);
  }
}
#links {
  padding: 3em;
  .flex-center-all;
  a {
    margin: 0.5em;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: white;
    filter:grayscale(100%);
    transition: all 0.1s;
    &:hover {
      filter:grayscale(0%) saturate(70%);
    }
  }
  img {
    height: 50px;
    width: 50px;
    padding: 1em;
  }
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
